h1 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 12pt;
    margin-top: 0;
}